.welcome h3 {
  color: white;
  font-size: clamp(1rem, 5vw, 2rem);
  margin: inherit;
}

.welcome h1 {
  color: white;
  font-size: clamp(2rem, 8vw, 6rem);
  margin: inherit;
}

.welcome p {
  color: darkgray;
  font-size: clamp(15px, 1vw, 40px);
  max-width: 500px;
  padding-bottom: 3rem;
  text-align: center;
}
